.reading-buttons {padding:1rem;
line-height:3rem}
.reading-button{
    width:45%;
}

.reading-button-clear{
    width:45%;
}

#input-form{
    line-height: 2rem;
    font-size: 1.2rem;
    align-content: center;
}


<<<<<<< 2af76e1df2cb7b0310c279a79a698a37759252ef


=======
.text-journal {
    font-weight: bold;
  padding-left: 2rem;
}

.text-header
{
    background-color:gainsboro;
    font-weight: bold;
}
>>>>>>> First Draft
.history-label {
    width: 12rem;

}
.history-value {
       width: 8rem !important;
    
}

