.time-slot {
    font-size: x-small;
    font-weight: bold;
    color: darkgrey;
    text-align: left;
    margin-left:6px;
    margin-right:6px;
}
.img-small{
    width: 240px;
    height: auto;
}
.left {
    text-align:left;
}

.right{
    text-align:right;
}

.slot-container{
    text-align:center;
}

.slot {
    color: white;
    border-radius: 16px;
    padding: 4px 10px;
   
    margin-bottom:10px;
}
.normal {
    background-color: lavender;
    color:black;
}
.warning {
    background-color: red ;
}

.good {
    background-color: lightgreen ;
    color:black;
}

.neutral {
    background-color: darkslategray ;
}
