.time-slot {
    font-size: x-small;
    font-weight: bold;
    color: darkgrey;
    text-align: left;
    vertical-align:top;
    display:inline-block;
    margin:6px;
}
.img-small{
    width: 200px;
    height: auto;
}
.left {
    text-align:left;
}

.right{
    text-align:right;
}

.slot-container{
    text-align:left;
}

.slot-value{
    display:inline-block;
    font-size: smaller;
    color: blue;
    float:right;
    margin-right:6px;
    margin-top:6px;
}
.slot-units {
    display: inline-block;
    font-size: x-small;
    width: 36px;
    text-align: left;
    margin-left: 4px;
    color: black;
}
.slot {
    color: black;
    border-radius: 16px;
    padding: 4px 10px;
    margin-bottom:10px;
}

.slot-content {
  
    display: inline-block;
}

.normal {
    background-color: white;
 
    color:black;
}
.warning {
    
    background-color:red;
    color:white;

}

.good {
    background-color: greenyellow;
    color: black;
    
}

.neutral {
   color:navy;
    
}
img{
    border-radius:25px;
}
