.add-water-button{
  margin:0 6px !important;
}
.water-buttons {
padding-left:10px;
padding-right:10px;
line-height:3rem}

.water-button{
    width:30%;
    font-weight: bold;
    padding:0 15px !important;
}


.water-button-clear{
    width:45%;
}


#input-form{
    line-height: 2rem;
    font-size: 1.2rem;
    margin-bottom: 6px;
}


.add-fluid-dose {
    margin-bottom:6px;
}

.history-time{
   
    width: 6rem !important;
    display: inline-block;
    text-align: right;
}
.history-value {
     width: 6rem !important;
}
